body{
	background-color:#c06500;
	width: 1000px;
	margin: 0 auto;
}

#menu ul{
	list-style: none;
	margin: 0;
	padding:5px;
}
#menu ul li{
	display: inline-block;
	font-size: 20px;
}
#menu ul li a{
	color: black
}
aside{
	background-color:#c8cb9c
}
#container{
	width: 90%;
	margin: 0px auto;
}
.clear{
	clear: both;
}
#dentro{
	float: left;
	width: 90%;
	min-height: 500px;
	padding: 50px;
	background-color: white;
}
.article1{
	color: black;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 10px;
	padding-top: 20px;
}
.texto{
padding-top: 10px;
padding-bottom: 10px;
background-color:#c8cb9c
}
.article{
	color: black;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-bottom: 10px;
}
.contenido{
	background-color:#c8cb9c;
	display:flex;
	justify-content: center;
	padding-top: 10px;
	border-top: solid black;
	padding-bottom: 20px;
	border-bottom: solid black;
}
.image{
	width: 200px;
	height: 250px;
	padding-top: 20px;	
{


		